absl-py 
aiohttp 
aiosignal 
altair 
appnope 
argon2-cffi 
argon2-cffi-bindings 
asttokens 
async-timeout 
attrs 
backcall 
beautifulsoup4 
black 
bleach 
blinker 
Brotli 
cachetools 
cairocffi 
CairoSVG 
certifi 
cffi 
charset-normalizer 
ci-info 
click 
commonmark 
configobj 
configparser 
contourpy 
coverage 
cssselect2 
cycler 
Cython 
debugpy 
decorator 
-e git+https://github.com/rakro101/deepOCR.git@1346295cad4bbd3907f56852f4a47e898d6471a0#egg=deepOCR
defusedxml 
docker-pycreds 
entrypoints 
etelemetry 
exceptiongroup 
executing 
fastjsonschema 
fastprogress 
filelock 
fitz 
fonttools 
frozenlist 
fsspec 
future 
gitchangelog 
gitdb 
GitPython 
google-auth 
google-auth-oauthlib 
grpcio 
h5py 
hdf5storage 
hide-code 
html5lib 
httplib2 
huggingface-hub 
idna 
imageio 
importlib-metadata 
iniconfig 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isodate 
jarowinkler 
jedi 
Jinja2 
joblib 
jsonschema 
jupyter 
jupyter-console 
jupyter-core 
jupyter_client 
jupyterlab-pygments 
jupyterlab-widgets 
kiwisolver 
lmdb 
looseversion 
lxml 
Markdown 
MarkupSafe 
matplotlib 
matplotlib-inline 
matplotlib-venn 
matplotlib-venn-wordcloud 
mistune 
modelbase 
mplcursors 
mpmath 
multidict 
mypy-extensions 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
nibabel 
nipype 
nltk 
notebook 
numpy 
oauthlib 
opencv-python 
packaging 
pandas 
pandoc 
pandocfilters 
parso 
pathlib 
pathspec 
pathtools 
pdfkit 
pexpect 
pickleshare 
Pillow 
platformdirs 
pluggy 
plumbum 
ply 
prometheus-client 
promise 
prompt-toolkit 
protobuf 
prov 
psutil 
ptyprocess 
pure-eval 
pyarrow 
pyasn1 
pyasn1-modules 
pyclipper 
pycparser 
pydeck 
pyDeprecate 
pydot 
pydyf 
Pygments 
Pympler 
PyMuPDF 
pyparsing 
pypdfium2 
pyphen 
pyrsistent 
pytest 
python-dateutil 
python-libsbml 
pytorch-lightning 
pytz 
pytz-deprecation-shim 
PyWavelets 
pyxnat 
PyYAML 
pyzmq 
qtconsole 
QtPy 
rapidfuzz 
rdflib 
regex 
requests 
requests-oauthlib 
requirements-parser 
rich 
rsa 
scikit-image 
scikit-learn 
scipy 
semver 
Send2Trash 
sentencepiece 
sentry-sdk 
setproctitle 
Shapely 
shortuuid 
simplejson 
six 
sklearn 
smmap 
soupsieve 
stack-data 
streamlit 
sympy 
tensorboard 
tensorboard-data-server 
tensorboard-plugin-wit 
terminado 
threadpoolctl 
tifffile 
timm 
tinycss2 
tokenizers 
toml 
tomli 
toolz 
torch 
torchaudio 
torchmetrics 
torchvision 
tornado 
tqdm 
traitlets 
traits 
transformers @ git+https://github.com/huggingface/transformers@0cea8d5555832cea111288dae18b32ecb16f7e2b
typing_extensions 
tzdata 
tzlocal 
unicode 
Unidecode 
urllib3 
validators 
Wand 
wandb 
wcwidth 
WeasyPrint 
webencodings 
Werkzeug 
widgetsnbextension 
wordcloud 
yarl 
zipp 
zopfli 
